<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Form Select</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h3>单选：</h3>
    <select v-model="selected" autocomplete="off">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <p>Selected: {{ selected }}</p>
    <h3>多选：</h3>
    <select v-model="multiSeleted" multiple>
      <option disabled>请选择</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
    <p>MultiSeleted: {{ multiSeleted }}</p>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        selected: '',
        multiSeleted: []
      }
    })
  </script>
</body>

</html>