/* 红包活动 */
#red-packet {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 720px;
  height: 100%;
  position:absolute;
  background: url("../images/redbag_bg.jpg") no-repeat 100% 100%;
  background-size: cover;
}
#red-packet::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}
.sub-title {
  height: 14rem;
  width: 28.5rem;
  margin:  0 auto;
  background: url("../images/redbag_txt.png") no-repeat 100% 100%;
  background-size: contain;
}
.sub-main {
  width: 26.25rem;
  height: 29rem;
  margin: 2rem auto 0;
  padding-top: 11rem;
  background: url("../images/redbag.png") no-repeat 100% 100%;
  background-size: cover;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}
.mid-contet {
  color: #FFEA00;
  height: 3rem;
  line-height: 3rem;
}
.mid-account {
  font-size: 2.5rem;
}
.mid-tips, .sub-tips {
  padding-top: 0.5rem;
  font-size: 0.5rem;
  color: #FFF;
  text-align: center;
}
.mid-btn {
  width: 21rem;
  height: 3.5rem;
  margin: 2rem auto 0;
  line-height: 3.5rem;
  background-color: #ff9732;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4px;
}
.sub-tips {
  margin-top: 3rem;
}
