body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  overflow: scroll;
  /*-webkit-overflow-scrolling: touch;*/
}

.box {
  position: absolute;
  width: 100%;
  /* top: 3.8rem; */
}

#getCoin {
  position: relative;
  padding-top: 269.34%;
}

.getCoinImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.gametop {
  position: absolute;
  width: 42.13%;
  top: 36%;
  left: 28.94%;
}

.gametopImg {
  position: relative;
  padding-top: 30.77%;
}

.downbtn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/downbtn.png") no-repeat;
  background-size: 100% 100%;
  top: 0;
}

.rule {
  margin-top: 143%;
  width: 100%;
  color: #8B99BC;
}

.rule ol {
  padding-left: 10%;
}

.rule ol li {
  line-height: 1.6rem;
}

.account {
  position: absolute;
  color: #556586;
  font-size: 1.5rem;
  height: 3.96%;
  top: 62%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.exchange {
  position: absolute;
  width: 84%;
  left: 10%;
  top: 68%;
}

.exchangeLi {
  width: 28%;
  display: inline-block;
  margin-right: 1.1rem;
  /*float: left;*/
}

/*.exchangeLi:after{*/

/*display: table;*/

/*clear: both;*/

/*content: "";*/

/*}*/

.treasure {
  position: relative;
}

.treasure .count {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.4rem;
  color: #576687;
  font-weight: bold;
}

.treasure img {
  width: 100%;
  height: auto;
}

.exchangeBut {
  width: 90%;
  margin: 0.7rem auto 1.5rem auto;
}

.exchangeButCom {
  position: relative;
  padding-top: 35.3%;
}

.exchangeButImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/tabbg_active.png") no-repeat;
  background-size: 100% 100%; */
  display: flex;
  align-items: center;
  /*指定垂直居中*/
  justify-content: center;
  /*水平居中*/
  color: #ffffff;
}

.tabbg_default {
  background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/tabbg_default.png") no-repeat;
  background-size: 100% 100%;
}

.tabbg_active {
  background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/tabbg_active.png") no-repeat;
  background-size: 100% 100%;
}

.Popup {
  position: fixed;
  z-index: 9;
  width: 70%;
  top: 40%;
  left: 15%;
}

.PopupCon {
  position: relative;
  padding-top: 71.7%;
}

.PopupImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://cstatic.duoduocp.cn/cdd/p/active/exchangecoin/Popup.png") no-repeat center;
  background-size: 100% 100%;
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  opacity: 0.5;
  background: black;
}

.Popuptitle {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  top: 8%;
  color: #242F33;
  font-weight: bold;
}

.Popupcontent {
  position: absolute;
  width: 80%;
  top: 31%;
  left: 10%;
  font-size: 1.4rem;
}

.exchangecontent {
  position: absolute;
  width: 90%;
  top: 45%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16%
}

.exchangeCode {
  background: #EDF5F8;
  margin-left: 0.3rem;
  padding:0 0.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.ClosePopup {
  position: absolute;
  width: 100%;
  bottom: 0%;
  height: 19%;
  color: #3FADFC;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-tip {
  position: fixed;
  z-index: 100;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 7px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  margin: 0;
}
