<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue List Rendering Array</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul id="example1">
      <li v-for="(item, index) in items" :key="index">
        {{ item.message }}
      </li>
      <li v-for="(item, index) in items" :key="index">
        {{ parentMessage }} ：{{ index }} - {{ item.message }}
      </li>
      <p>You can also use 'of' as the delimiter instead of 'in'</p>
      <p>你也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法</p>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        parentMessage: 'Parent',
        items: [{
            message: 'Foo'
          },
          {
            message: 'Bar'
          }
        ]
      }
    })
  </script>
</body>

</html>