<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue v-if</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h3>v-if</h3>
    <p v-if="ok">Yes</p>
    <p v-if="Math.random() > 0.5">Now you see me</p>
    <p v-else>Now you don't</p>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        ok: true
      }
    })
  </script>
</body>

</html>